<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="matchBox(match)" th:class="match-box" th:classappend="${match}?'match':''">
        <a th:href="${match != null ? '/matches/'+match.id : ''}">
        <div th:text="${match?.player1 != null ? match.player1?.firstName+' '+match.player1?.lastName : '&nbsp'}">
            <!--a th:if="${match?.player1 != null}"
               th:text="${match.player1?.firstName+' '+match.player1?.lastName}"
            th:href="|/players/${match.player1.id}|">John Doe</a>
            <span th:if="${match?.player1 == null}">&nbsp</span-->

        </div>
        <div th:text="${match?.player2 != null ? match.player2?.firstName+' '+match.player2?.lastName : '&nbsp'}">
            <!--a th:if="${match?.player2 != null}"
               th:text="${match.player2?.firstName+' '+match.player2?.lastName}"
               th:href="|/players/${match.player2.id}|">John Doe</a>
            <span th:if="${match?.player2 == null}">&nbsp</span-->
        </div>
        </a>
    </div>
</body>
</html>