<li  [class]="match?'match':''">
  <div [class]="middleBar ? 'route-box' : 'route-box middle'">
    <div></div>
  </div>
        <div [ngClass]="[match?'match match-box':'match-box', final ? 'final' : '']"
             [routerLink]="match.status==='READY'?['', { outlets: { modal: ['matches', 'edit', match.id] } }]:[]"
             [ngStyle]="match?{'cursor':'pointer'}:{'outline': 0}">
          <div class="name-box">
            <div [ngClass]="[match.matchWinner==='PLAYER1'? 'winner' : '', match.matchWinner==='PLAYER2'? 'looser' : '', 'name']">
              {{match?.player1 != null ? match.player1?.firstName+' '+match.player1?.lastName : '&nbsp;'}}
            </div>
            <div [ngClass]="[match.matchWinner==='PLAYER2'? 'winner' : '', match.matchWinner==='PLAYER1'? 'looser' : '', 'name']">
              {{match?.player2 != null ? match.player2?.firstName+' '+match.player2?.lastName : '&nbsp;'}}
            </div>
          </div>
          <div *ngFor="let game of match.games" class="score-box">
            <div [class]="game.scorePlayer1>game.scorePlayer2 ? 'winner' : 'looser'">{{game.scorePlayer1}}</div>
            <div [class]="game.scorePlayer2>game.scorePlayer1 ? 'winner' : 'looser'">{{game.scorePlayer2}}</div>
          </div>
    </div>
  <div class="route-box">
    <div></div>
  </div>
</li>
