<ng-template #template>
<div class="container content-padding">
  <h3>Record match results</h3>
  <form [formGroup]='form'>
    <div class="table-responsive">
    <table class="table" style="max-width: none">
      <thead>
      <tr>
        <td>&nbsp;</td>
        <td class="text-right">
          <ng-container *ngIf="match?.player1?.id !== null">
            <a [routerLink]="['', { outlets: { primary: ['/players/details', match.player1.id], modal: null} }]">{{match?.player1?.firstName + ' ' + match?.player1?.lastName}}</a>
          </ng-container>
        </td>
        <td class="text-center">:</td>
        <td class="text-left">
          <ng-container *ngIf="match?.player2?.id !== null">
            <a [routerLink]="['', { outlets: { primary: ['/players/details', match.player2.id], modal: null} }]">{{match?.player2?.firstName + ' ' + match?.player2?.lastName}}</a>
          </ng-container>
        </td>
      <td>&nbsp;</td>
      </tr>
      </thead>
      <tbody>
      <tr formArrayName="games" *ngFor="let game of form.controls.games.controls; let i = index">
        <ng-container [formGroupName]="i">
        <td>{{i+1}}</td>
        <td class="text-right" >
          <input type="text" formControlName="scorePlayer1" class="form-control form-control-sm">
        </td>
        <td class="text-center">:</td>
        <td>
          <input type="text" formControlName="scorePlayer2" class="form-control form-control-sm">
        </td>
          <td><button class="btn btn-outline-danger btn-sm" (click)="removeGame(i)">x</button></td>
        </ng-container>
      </tr>
      </tbody>
    </table>
    </div>
    <button class="btn btn-primary" (click)="sendForm(form)">Register results</button>&nbsp;
    <button class="btn btn-outline-primary" (click)="addGame()">Add game</button>
  </form>
</div>
</ng-template>
