<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Competitions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--/*/ <th:block th:include="fragments :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments :: header"></th:block> /*/-->
<div class="container content-padding">
    <h3>Competitions</h3>
    <table class="table">
        <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="competition,iter : ${competitions}">
            <td th:text="${iter.count}"></td>
            <td><a th:text="${competition.name}" th:href="|/competitions/${competition.id}|">Beer Tournament</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/competitions/add}">Add competition</a>
</div>
</body>
</html>