<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="competition.name">Competition</title>
    <head th:insert="fragments/header :: head"></head>
</head>
<body>
<header th:insert="fragments/header :: header"></header>
<div class="container content-padding">
    <h3 th:text="${competition.name}">Competition</h3>
    <main class="bracket">
        <ul class="round" th:each="round : ${#numbers.sequence(1, competition.numberOfRounds)}">
            <th:block th:each="position : ${#numbers.sequence(1, competition.calculateMaxMatchesInRound(round))}">
                <li th:object="${competition.getMatchByPosition(round, position)}" th:classappend="${#object}?'match':''">
                    <div th:class="route-box"
                         th:classappend="${((round == 1) || (round == 2 && position > (competition.calculateMatchesInRound(1)+1)/2) ? '' : 'middle')}">
                        <div></div>
                    </div>
                    <div th:replace="fragments/match :: matchBox(match=${#object})">Match</div>
                    <div th:class="route-box">
                        <div></div>
                    </div>
                </li>
                <li th:if="${position<competition.calculateMaxMatchesInRound(round)}"
                    th:class="spacer"
                    th:classappend="${(position % 2 == 1 && position < competition.calculateMatchesInRound(round) ? 'double-match' : '') +
                    (position % 2 == 1 && position == competition.calculateMatchesInRound(round) ? 'single-match' : '')}">&nbsp;</li>
            </th:block>
        </ul>
    </main>
</div>
</body>
</html>