<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Competition</title>
    <!--/*/ <th:block th:include="fragments :: head"></th:block> /*/-->
</head>
<body>
<!--/*/ <th:block th:include="fragments :: header"></th:block> /*/-->
<div class="container content-padding">
    <h3>Add new competition</h3>
    <form method="POST" th:object="${competitionForm}">
        <div class="errors" th:if="${#fields.hasErrors('*')}">
            <ul>
                <li th:each="err : ${#fields.errors('*')}"
                    th:text="${err}">Input is incorrect</li>
            </ul>
        </div>
        <label th:class="${#fields.hasErrors('name')}? 'error'">Competition name</label>:
        <input type="text" th:field="*{name}" th:class="${#fields.hasErrors('name')}? 'error'"/><br/>
        <label th:class="${#fields.hasErrors('numberOfPlayers')}? 'error'">Number of players</label>:
        <input type="text" th:field="*{numberOfPlayers}" th:class="${#fields.hasErrors('numberOfPlayers')}? 'error'"/><br/>
        <input type="submit" value="Add" />
    </form>

</div>
</body>
</html>