<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New Competition</title>
    <head th:insert="fragments :: head"></head>
</head>
<body>
<header th:insert="fragments :: header"></header>
<div class="container content-padding">
    <h3>Add new competition</h3>
    <form method="POST" th:object="${competitionForm}">
        <div class="form-group">
            <label>Competition name</label>:
            <input class="form-control" type="text" th:errorclass="is-invalid" th:field="*{name}"/>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect name</div>
        </div>
        <div class="form-group">
            <label>Players</label>:
            <select class="form-control" th:field="*{playerIds}" th:errorclass="is-invalid" multiple="multiple">
                <option th:each="player : ${allPlayers}"
                        th:text="${player.firstName + ' ' + player.lastName}"
                        th:value="${player.id}"></option>
            </select>
            <div class="invalid-feedback" th:if="${#fields.hasErrors('playerIds')}" th:errors="*{playerIds}">Incorrect players</div>
        </div>

        <input class="btn btn-primary" type="submit" value="Add" />
    </form>

</div>
</body>
</html>