<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head th:insert="fragments/header :: head"></head>
</head>
<body>
    <header th:insert="fragments/header :: header"></header>
    <div class="container content-padding">
        <h3>Record match results</h3>
        <form method="POST" th:object="${matchForm}">
            <table class="table">
                <thead>
                <tr>
                    <td>Round</td>
                    <td class="text-right" th:unless="${match.player1} == null"><a
                            th:text="${match.player1.firstName + ' ' + match.player1.lastName}"
                            th:href="|/players/${match.player1.id}|"></a></td>
                    <td th:if="${match.player1} == null"></td>
                    <td class="text-center">:</td>
                    <td th:unless="${match.player2} == null"><a
                            th:text="${match.player2.firstName + ' ' + match.player2.lastName}"
                            th:href="|/players/${match.player2.id}|"></a></td>
                    <td th:if="${match.player2} == null"></td>
                </tr>
                </thead>
                <tbody>
                    <tr th:each="gameRow, rowStat: ${matchForm.gameRows}">
                        <td th:text="${rowStat.count}">1</td>
                        <td class="text-right" ><input type="text" th:field="${matchForm.gameRows[__${rowStat.index}__].scorePlayer1}"></td>
                        <td class="text-center">:</td>
                        <td><input type="text" th:field="${matchForm.gameRows[__${rowStat.index}__].scorePlayer2}"></td>
                    </tr>
                </tbody>
            </table>
            <input class="btn btn-primary" type="submit" value="Register" />
            <input class="btn btn-outline-primary" type="submit" value="Add game" name="addGame"/>
            <!--a class="btn btn-outline-primary" th:href=""|/matches/${match.id}/edit|"">Add game</a-->
        </form>
    </div>
</body>
</html>