<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!--/*/ <th:block th:include="fragments :: head"></th:block> /*/-->
</head>
<body>
    <!--/*/ <th:block th:include="fragments :: header"></th:block> /*/-->
    <div class="container content-padding">
        <h2>Players</h2>
        <table>
            <tr th:each="player : ${players}">
                <td th:text="${player.firstName}">Bravo</td>
                <td th:text="${player.lastName}">Bravo</td>
            </tr>
        </table>
        <a th:href="@{/players/register}">Register</a>
    </div>
</body>
</html>