<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Players</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <head th:insert="fragments :: head"></head>
</head>
<body>
    <header th:insert="fragments :: header"></header>
    <div class="container content-padding">
        <h3>Players</h3>
        <table class="table">
            <thead>
            <tr>
                <td>#</td>
                <td>Name</td>
            </tr>
            </thead>
            <tbody>
            <tr th:each="player,iter : ${players}">
                <td th:text="${iter.count}"></td>
                <td><a th:text="${player.firstName + ' ' + player.lastName}" th:href="|/players/${player.id}|">Johnny
                    Bravo</a></td>
            </tr>
            </tbody>
        </table>
        <a th:href="@{/players/register}">Register</a>
    </div>
</body>
</html>