<div class="container content-padding">
  <h3>Add new player</h3>
  <form [formGroup]='form'>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="firstName" placeholder="First Name" />
      <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Incorrect first name</div>-->
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="lastName" placeholder="Last Name" />
      <!--<div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Incorrect last name</div>-->
    </div>
    <button class="btn btn-primary" (click)="sendForm(form)">Add</button>
  </form>
</div>
