<div class="container w-25 content-padding">
    <h3>Register user</h3>
    <form [formGroup]='form'>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="username" placeholder="username"
                   [ngClass]="{'is-invalid' : form.get('username').invalid && form.get('username').touched,
                               'is-valid' : form.get('username').valid && form.get('username').touched}"/>
            <div class="invalid-feedback" *ngIf="form.get('username').invalid">
                <div *ngIf="form.get('username').errors.required">Username is required</div>
                <div *ngIf="form.get('username').errors.minLength">Username must be at least 8 characters long</div>
            </div>
        </div>
        <div class="form-group">
            <input type="password" class="form-control" type="password" formControlName="password"
                   placeholder="password"
                   [ngClass]="{'is-invalid' : form.get('password').invalid && form.get('password').touched,
                               'is-valid' : form.get('password').valid && form.get('password').touched}"/>
            <div class="invalid-feedback" *ngIf="form.get('password').invalid">
                <div *ngIf="form.get('password').errors.required">Password is required</div>
                <div *ngIf="form.get('password').errors.minLength">Password must be at least 8 characters long</div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="firstName" placeholder="First name"
                   [ngClass]="{'is-invalid' : form.get('firstName').invalid && form.get('firstName').touched,
                               'is-valid' : form.get('firstName').valid && form.get('firstName').touched}"/>
            <div class="invalid-feedback" *ngIf="form.get('firstName').invalid">
                <div *ngIf="form.get('firstName').errors.required">First name is required</div>
                <div *ngIf="form.get('firstName').errors.minLength">First name must be at least 2 characters long</div>
            </div>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="lastName" placeholder="Last name"
                   [ngClass]="{'is-invalid' : form.get('lastName').invalid && form.get('lastName').touched,
                               'is-valid' : form.get('lastName').valid && form.get('lastName').touched}"/>
            <div class="invalid-feedback" *ngIf="form.get('lastName').invalid">
                <div *ngIf="form.get('lastName').errors.required">Last name is required</div>
                <div *ngIf="form.get('lastName').errors.minLength">Last name must be at least 2 characters long</div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="sendForm(form)">Register</button>
    </form>
</div>
