<div class="container content-padding">
    <h3>Competitions</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let competition of competitions; let i = index">
            <td>{{i + 1}}</td>
            <td><a [routerLink]="['/competitions/details', competition.id]">{{competition.name}}</a></td>
        </tr>
        </tbody>
    </table>
    <a [routerLink]="'/competitions/add'">Add competition</a>
</div>
