<table>
  <thead>
  <tr>
    <th *ngFor="let obj of config">{{obj.key}}</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data">
    <td *ngFor="let obj of config">
      <div [ngSwitch]="obj.type">
        <div *ngSwitchCase="'image'">
          <img [src]="item[obj.key]" width="50">
        </div>
        <div *ngSwitchCase="'input'">
          <input type="text" [(ngModel)]="item[obj.key]">
        </div>
        <div *ngSwitchDefault>
          {{item[obj.key]}}
        </div>
      </div>
    </td>
    <td></td>
  </tr>
  </tbody>
</table>
